{% extends 'base.html' %}

{% block title %}Article::Detail{% endblock title %}

{% block body %}
<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
{% if article.user == request.user %}
  <a href="{% url 'articles:update' article.pk %}">[수정하기]</a><button type="submit">삭제하기</button>
{% endif %}
<h2>{{ article.title }}</h2>
<p>{{ article.created_at }}</p>

{% if user.is_authenticated %}
<a href="{% url 'articles:like' article.pk %}">
  {% if request.user in article.liked_users.all %}
  <i class="fas fa-heart fa-lg" style="color:red"></i>
  {% else %}
  <i class="far fa-heart fa-lg" style="color:red"></i>
  {% endif %}
</a>
<span>{{ article.liked_users.all | length }}명이 이 글을 좋아합니다.</span>
{% endif %}
<br>


<p>{{ article.content }}</p>
</form>
<hr>
{% if user.is_authenticated %}
<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit">댓글작성</button>
</form>
{% else %}
<a href="{% url 'accounts:login' %}">댓글을 작성하시려면 로그인 해주세요.</a>
{% endif %}
{% for comment in comments %}
<p>{{comment.content}} - {{ comment.created_at }}/{{ comment.user }}</p>
{% if user.is_authenticated %}
<form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
  {% csrf_token %}
  {% if request.user == comment.user %}
  <button class='btn btn-danger' type="submit">삭제하기</button>
  {% endif %}
</form>
{% endif %}
{% empty %}
<h5>아직 댓글이 없습니다.</h5>
{% endfor %}

{% include 'articles/_follow.html' %}

{% endblock body %}